#report-details-section{
    width: 30%;
    position: relative;
    margin: 0 auto 0 auto;
    transition: all ease-in-out 400ms;
}

@media  only screen and (max-width: 768px) {
    #report-details-section{
        width: 80%;
        margin: 125px auto 0 auto;
        transition: all ease-in-out 400ms;
    }
}
