#report-details-section {
	width: 40%;
	position: relative;
    margin: 100px auto -85px auto;
    padding: 20px;
    transition: all ease-in-out 400ms;
	box-shadow: 0 0 10px #96969633;
	overflow: auto;
}

#report-details-positioning {
	display: flex;
	align-items: center;
	width: 100%;
}

#section1 {
	flex: 1; /* Flexing rights for CSS haha SMH DEREK!!*/
	padding-right: 15px;
}

#report-title-section1 {
	font-weight: 700;
}

#uploaded-by {
	font-size: 14px;
	color: grey;
	padding: 10px 0;
}

#report-button-section1 {
	outline: 0;
	cursor: pointer;
	border: 0;
	padding: 10px;
	border-radius: 2.5px;
	margin-bottom: 5px;
	background: #f0f0f0;
}

#section2 {
	flex: 1;
}

#document-container {
	position: relative;
}

/*Github PR */
#github-pr {
  margin-top: 25px;
  text-decoration: underline;
  color: blue
}


/*Postman Tests */
#postman-tests {
	margin-top: 10px;
	text-decoration: underline;
	color: blue
}