#sidepanel{
    left: 0;
    position: fixed;
    margin-top: 0px;
    margin-left: 2%;
    width: 55px;
    overflow: auto;
    transition: all ease-in-out 400ms;
}

#expand-icon{
    display: block;
    border: solid #bbbdc2 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.0);
    padding: 8.5px 17.5px;
    border-radius: 0px;
    position: fixed;
    text-align: center;
    background: transparent;
    top: 0;
    z-index: 9999999999999999999999;
    left: 0;
    cursor: pointer;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 1.75%;
}

#expand-icon img{
    width: 17.5px;
    z-index: 9999999999999999999999;
    height: 17.5px;
}

#active {
    background: #fde59633;
    padding: 15px;
    position: relative;
    margin-bottom: 30px;
    transition: all ease-in-out 400ms;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: black;
}

#link{
    padding: 15px;
    position: relative;
    margin-bottom: 30px;
    transition: all ease-in-out 400ms;
    border-radius: 5px;
}

#link-img{
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
}

#report_navigation_title{
    cursor: pointer;
}

#expand{
    position: absolute;
    right: 0;
    margin-right: 25px;
    cursor: pointer;
}

#mobile-expand-icon{
    display: none;
}

#mini-links{
    font-family: 'Roboto', sans-serif;
    display: block;
    transition: all ease-in-out 400ms;
}

#mini-links li{
    list-style-type: none;
    line-height: 1.8em;
    cursor: pointer;
    margin-left: -25px;
}

#no_links_display{
    display: none;
    transition: all ease-in-out 400ms;
}

#sidepanel-mobile{
    display: none;
}

@media  only screen and (max-width: 768px) {
    #sidepanel-mobile{
        left: 0;
        position: fixed;
        margin-top: 0px;
        margin-left: 0;
        width: 100%;
        display: none;
        top: 0;
        height: 100%;
        padding-top: 150px;
        z-index: 99999999999999999999;
        background: rgba(255, 255, 255, 0.9);
        overflow: auto;
    }

    #sidepanel{
        display: none;
    }

    #active {
        margin: 25px auto;
        width: 50%;
    }

    #expand-icon{
        display: none;
    }
    
    a{
        text-decoration: none;
        color: black;
    }
    
    #link{
        margin: 25px auto;
        width: 50%;
    }

    #mobile-expand-icon{
        display: block;
        border: solid #fafafa 1px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.0);
        padding: 8.5px 17.5px;
        border-radius: 0px;
        position: fixed;
        background: transparent;
        top: 0;
        z-index: 9999999999999999999999;
        left: 0;
        cursor: pointer;
        font-size: 20px;
        margin-top: 15px;
        margin-left: 5px;
    }

    #menu_bar {
        width: 17.5px;
        height: 17.5px;
    }
}

@media  only screen and (max-width: 450px) {
    #sidepanel-mobile {
        padding-top: 50px;
    }
}