#report{
    display: flex;
    position: relative;
    line-height: 2.2em;
}

#report-service{
    margin-right: 75px;
    transition: all ease-in-out 400ms;
}

#report-link{
    position: absolute;
    right: 0;
}

#report-link a{
    color: blue;
    text-decoration: none;
}

hr{
    border-top: 0;
    border-bottom: solid 1px #f0f0f0;
    outline: 0;
}

@media only screen and (max-width: 768px){
    #report-service{
        margin-right: 50px;
        transition: all ease-in-out 400ms;
    }
    
}

@media only screen and (max-width: 550px){
    #report-service{
        margin-right: 25px;
        transition: all ease-in-out 400ms;
    }
    
}
