
@font-face {
    font-family: 'Quicksand';
    font-display: swap;
    src: url(woffFonts/Quicksand-Medium.woff);
} 

@font-face {
    font-family: 'Quicksand Light';
    font-display: swap;
    src: url(woffFonts/Quicksand-Light.woff);
} 

@font-face {
    font-family: 'Quicksand Bold';
    font-display: swap;
    src: url(woffFonts/Quicksand-Bold.woff);
} 

