#home{
    background: #fafafa;
}

h4{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

/*
Report Stats Card
*/
#report-stats-titles{
    padding-top: 8px;
    margin: 10px 15px;
    color: grey;
}

#report-stats-number-of-tests{
    margin-left: 15px;
    font-size: 30px;
    font-weight: 500;
}
/*
coverage
*/

#report-stats-coverage-titles{
    padding-top: 8px;
    margin-right: 20px;
    color: grey;
}

#report-stats-code-coverage{
    margin-left: 15px;
    font-size: 15px;
}

#update-coverage-btn{
    margin: 10px 15px;
}

.service{
    margin-top: 10px;
}

#features-reports{
    padding: 0;
    position: relative;
}

#endpoints-reports{
    margin-top: 50px;
    position: relative;
    background: #fafafa;
}

#sorted-by{
  font-size: 15px;
}
