.noreports{
    margin: 0 auto;
    color: rgb(109, 7, 7);
    display: flex;
    width: 40%;
    height: 100%;
    top: 0;
    position: fixed;
    align-items: center;
}

#no-reports-text{
    margin: 0 auto;
    text-transform: lowercase;
}
