#tasks-section{
    width: 40%;
    position: relative;
    margin: 125px auto 0 auto;
    transition: all ease-in-out 400ms;
}

@media  only screen and (max-width: 768px) {
    #tasks-section{
        width: 80%;
        margin: 125px auto 0 auto;
        transition: all ease-in-out 400ms;
    }
}
