#tasks-section{
    width: 40%;
    position: relative;
    margin: 125px auto 0 auto;
    transition: all ease-in-out 400ms;
}

#tasks-section label{
    flex: 1;
}

#tasks-section input{
    outline: 0;
    cursor: pointer;
    border: 0;
    padding: 10px;
    flex: 4;
    border-radius: 2.5px;
    margin-bottom: 15px;
    background: #f0f0f0;
}

#tasks-section button{
    outline: 0;
    cursor: pointer;
    border: 0;
    padding: 10px;
    flex: 4;
    border-radius: 2.5px;
    margin-bottom: 15px;
    background: #f0f0f0;
}

@media  only screen and (max-width: 768px) {
    #tasks-section{
        width: 80%;
        margin: 125px auto 0 auto;
        transition: all ease-in-out 400ms;
    }
}
