#report{
    display: flex;
    position: relative;
    line-height: 2.2em;
    text-align: left;
}

#service{
    flex: 1;
    padding-right: 25px;
    text-align: left;
    transition: all ease-in-out 400ms;
}

#title{
    flex: 2;
    text-align: left;
    word-break: break-all;
    padding-right: 5px;
}

#end-column{
    text-align: right;
    right: 0;
    flex: 2;
}

#end-column img{
    width: 25px;
    background: #fafafa;
    height: 25px;
}

#headers{
    color: grey;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 25px;
    display: flex;
    position: relative;
    line-height: 2.2em;
    text-align: left;
}

hr{
    border-top: 0;
    border-bottom: solid 1px #f0f0f0;
    outline: 0;
}
