#navigation-top{
    padding: 20px;
    height: 30px;
    position: fixed;
    background: #01ACC1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    color: white;
    font-weight: 100;
    z-index: 2;
    top: 0;
    margin-bottom: 20px;
    text-align: center;
    transition: all ease-in-out 400ms;
}

#navigation-logo{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 2.5px;
    transition: all ease-in-out 400ms;
}

#signout{
    position: fixed;
    right: 0;
    transition: all ease-in-out 400ms;
    cursor: pointer;
    top: 0;
    margin-top: 25px;
    margin-right: 80px;
}

#profile-picture{
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 20px;
    margin-right: 20px;
}

#profile-picture img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 100%;
    object-fit: cover;
    border: solid 2px #fafafa;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h4{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

@media  only screen and (max-width: 550px) {
    #navigation-top{
        text-align: left;
        transition: all ease-in-out 400ms;
    }
    
    #navigation-logo{
        margin-left: 50px;
        transition: all ease-in-out 400ms;
    }
}
