#home{
    background: #fafafa;
}

#reports-section{
    width: 40%;
    position: relative;
    margin: 125px auto 0 auto;
    transition: all ease-in-out 400ms;
}

#reports-section button{
    outline: 0;
    cursor: pointer;
    border: 0;
    padding: 10px;
    border-radius: 2.5px;
    margin-bottom: 15px;
    background: #f0f0f0;
}

h4{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.service{
    margin-top: 10px;
}

#features-reports{
    padding: 0;
    position: relative;
}

#endpoints-reports{
    margin-top: 50px;
    position: relative;
    background: #fafafa;
}

@media  only screen and (max-width: 768px) {
    #reports-section{
        width: 80%;
        margin: 125px auto 0 auto;
        transition: all ease-in-out 400ms;
    }
}
