#comments-container{
    float: right;
    top: 0;
    position: fixed;
    right: 0;
    max-width: 350px;
    min-width: 350px;
    margin-top: 75px;
    margin-right: 50px;
}

#comment-add-container{
    display: flex;
    width: 100%;
    margin-top: 25px;
    align-items: top;
}

#comment-picture{
    width: 30px;
    height: 30px;
    min-width: 30px;
    background: #ccc;
    object-fit: cover;
    margin-right: 5px;
    border: solid 2px rgb(220, 220, 220);
    border-radius: 100%;
}

#active-container{
    width: 100%;
}

#comment-textarea{
    width: 91%;
    background: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 20px;
    border: solid 1px rgb(220, 220, 220);
    border-radius: 5px;
    padding: 10px;
    outline: none;
}

#comment-textarea-active{
    width: 91%;
    background: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 50px;
    border: solid 1px rgb(220, 220, 220);
    border-radius: 5px;
    padding: 10px;
    outline: none;
}

#save-button{
    background: #01ACC1;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    color: white;
}

#cancel-button{
    padding: 10px;
    cursor: pointer;
}

#comment-authorname{
    margin-right: 5px;
    font-weight: 700;
    font-size: 14px;
}

#comment-time{
    font-size: 14px;
    color: grey;
}

#comment-text{
    font-size: 14px;
    line-height: 1.6em;
}

#modify-comment{
    font-size: 14px;
    color: grey;

}