body{
    /*font-family: 'Quicksand', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background: #fafafa;
    font-size-adjust: 0.58;
    transition: all ease-in-out 400ms;
}

#display-content{
    display: flex;
}

#display-content div{
    margin-right: 10px;
}

#display-content label{
    flex: 1;
    margin-right: 15px;
}

#display-content select{
    outline: 0;
    flex: 4;
    cursor: pointer;
    border: 0;
    padding: 10px;
    border-radius: 2.5px;
    margin-bottom: 15px;
    background: #f0f0f0;
}

#display-content textarea{
    outline: 0;
    vertical-align: middle;
    border: 0;
    padding: 10px;
    border-radius: 2.5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    flex: 4;
    margin-bottom: 15px;
    background: #f0f0f0;
}


/*reports*/
#reports-section{
    width: 40%;
    position: relative;
    margin: 100px auto 0 auto;
    transition: all ease-in-out 400ms;
}

#reports-section button{
    outline: 0;
    cursor: pointer;
    border: 0;
    padding: 10px;
    border-radius: 2.5px;
    margin-bottom: 15px;
    background: #f0f0f0;
}

#create-new-report{
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    background: rgb(182, 182, 0);
    margin-bottom: 50px;
    box-shadow: 0 0 10px rgba(150, 150, 150, 0.2);
    z-index: 99999999999999999999999999999999;
    margin-right: 100px;
}

#create-new-report img{
    width: 35px;
    height: 35px;
    padding: 10px;
}

@media  only screen and (max-width: 768px) {
    body{
        /*font-family: 'Quicksand', sans-serif;*/
        font-family: 'Roboto', sans-serif;
        padding: 0;
        margin: 0;
        background: #fafafa;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-size-adjust: 0.58;
        transition: all ease-in-out 400ms;
    }

    #display-content textarea{
        margin-bottom: 0;
        vertical-align: middle;
    }

    #reports-section{
        width: 80%;
        margin: 125px auto 0 auto;
        transition: all ease-in-out 400ms;
    }

    #create-new-report{
        margin-right: 25px;
        margin-bottom: 25px;
        transition: all ease-in-out 400ms;
    }
}
